body {
    background-color: grey;
    margin: 0;
    padding: 0;
    list-style: none;
}
.newsprite {
    background: url(https://www.raptorsupplies.co.uk/pub/media/catalog/homepage/icon-sprit2.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    display: inline-block;
}
.topmainheader {
    background-color: rgb(2, 2, 43);
    width: 100%;
    height: 37px;
}

.left-top-header {
    width: 49%;
    height: 21px;
    color: white;
    font-size: 14px;
    position: absolute;
    margin: 7px 2px;
}

.right-top-header {
    width: 50%;
    position: relative;
    left: 50%;
    /* margin: 7px 2px; */
}

ul {
    display: flex;
    padding: 7px 35px;    
}

.right-header {
    list-style-type: none;
    margin: 0px 16px;
    font-size: 15px;
}

li a {
    color: white;
}

li a:hover {
    cursor: pointer;
    list-style: none;
    color: white;
    text-decoration: none;
}

#chattingbox {
    border: 2px solid #bec1b8;
    border-radius: 14px;
    color: #fdfdfd;
    margin: 3px 12px;
    padding: 2px 0px;
    text-decoration: none;
}

.chatit {
    background-color: #ffcba6;
    margin: 5px 0px;
    padding: 2px 4px;
    border-radius: 11px;
    color: #224a03;
    font-size: 14px;
    font-family: unset;
    font-weight: 700;
}
.fa{
    margin: 2px 8px;
    color: #dea131;
}

.online {
    background-color: #d0d1d2;
    color: #204e4c;
    margin: 2px 0px;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 800;
}

.header{
    padding: 0 !important; 
    max-width: 100% !important;
   }

/* writing the css for navbar */

.navbar {
    background-color: black;
    width: 100%;
    height: 59px;
    color: white;
}

.navbar-icon {
    display: flex;
    padding: 15px 0px;
    list-style-type: none;
    font-size: 13px;
    position: relative;

}

.nav {
    margin: 0px 11px;
    cursor: pointer;
}
.nav-hover:hover{
    border: 1px solid white;
    font-size: 14px;
    border-radius: 5px;
}

#vendorregistration {
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
    color: #da2e12;
    font-size: 15px;
    font-weight: 700;
}


/* toggle button css */
.toggle-button{
    /* display: none !important; */
    position: absolute;
    left: 0;
    width: 100%;
    height: 205px;
    background-color: #d2d2d2;
    margin: 22px 0px;
    padding: 0px 2px;

}
.togg{
     display: none;
     position: absolute;
     left: 0; 
     padding: 0;
    top: 57px;  
}
hr{
    border-top: 1px solid #0d0c0c;
margin: 30px 7px;
}

.togglebox{
    background-color: #47717d;
    width: 33%;
    list-style-type: none;
    height: 205px;
    font-size: 13px;
    margin: 0 1px;
    }
.h3-tag{
    font-size: 15px;
    margin: 25px 4px;
    font-weight: bold;
    font-family: initial;
    }
.para{
    font-size: 12px;
margin: 4px 5px;
}
.whatsappicon {
    top: 0;
    left: -5px;
    width: 20px;
    height: 22px;
    cursor: pointer;
    background-position: -89px -465px !important;
}



/* for image  */
.image{
    background-color: #051720;
    width: 7%;
    position: relative;
    left: 50%;
    top: -81px;
    border-radius: 15px;
}


/* sign-in button */

.sign-in{
    position: absolute;
    right: 67px;
    top: 60px;
}
.sign-btn{
    background-color: #3c3e11;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;

}


/* or add to cart  */

.minicart-wrapper{
    position: relative;
    top: -37px;
    right: 16px
}